.profileContainer {
    box-shadow: 2px 2px 8px rgb(0 0 0 / 30%);
    max-width: fit-content;
    padding: 1.5rem;
    margin: auto;
    gap: 3rem;
    display: flex;
    border-bottom: 0.5rem solid red;
}
.profileContainer img {
  box-shadow: 2px 2px 8px rgb(0 0 0 / 30%);
  border: 2px solid grey;
  border-radius: 50%;
  max-width: 20rem;
}
.row {
  display: flex;
}

.editColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.editColumn > button{
  padding: 1rem;
  font-size: large;
  background-color: #3f345f;
  border: 3px solid #f2f2f2;
  color: #f2f2f2;
  font-size: large;
  font-weight: bold;
  border-radius: 1rem;
  align-self: flex-end;
  cursor: pointer;
}
.editColumn > button:hover {
  color: #3f345f;
  background-color: #f2f2f2;
  border: 3px solid #3f345f;
}
.editColumn > * {
  margin: 0;
}

#isAdmin {
    border-bottom-color: greenyellow !important;
}

#isContributor {
    border-bottom-color: yellow !important;
}
