.manageExercisesListItem {
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
  }
  .manageExercisesListItem > * {
    flex: 0.85;
  }
  .btnContainer {
    max-width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .btnContainer button{
    font-weight: bold;
    color: white;
    border-radius: 1rem;
    align-self: flex-end;
    cursor: pointer;
    padding: 1rem;
    align-self: center;
    width: 100%;
  }
  .deleteBtn {
    background-color: red;
    border: 3px solid red;
  }
  .deleteBtn:hover{
    background-color: white;
    color: red;
  }
  .editBtn {
    background-color: green;
    border: 3px solid green;
  }
  .editBtn:hover{
    background-color: white;
    color: green;
  }
  