.navbarContainer{
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0078c8; 
    margin-bottom: 2rem;
}

.navbarUserContainer {
    display: flex;
    flex-direction: row;
}
.navbarUserContainer > * {
    margin: 1rem;
}
.bigText{
    display: flex;
    align-items: center;
    height: 80%;
    color: white;
    font-size: xx-large;
    border-right: 1px solid white;
    padding: 0 1rem 0 0;
    cursor: pointer;
}