.contributorsAreaContainer {
  display: flex;
}
.manageContainer {
  flex: 1;
}
.menuContainer {
  max-width: fit-content;
  border-right: 2px solid rgb(195, 193, 193);
  text-align: left;
  padding: 1rem 0;
}
.menuItemContainer > * {
  text-decoration: none;
  color: black;
  font-size: xx-large;
  padding: 0 3rem;
  margin: 0.3rem;
  display: flex;
}
.menuItemContainer > *:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.active {
  text-decoration: underline;
  text-decoration-color: red;
}
.inactive {
  text-decoration: none;
}
